<!doctype html>
<html>
<head>
  <title>{{ site.name }}</title>
</head>
<body>
  <h1>{{ site.tagline }}</h1>
  <p>{{ site.address.display }}</p>
  <p>Phone: {{ site.phone.display }}</p>
</body>
</html>
